<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="video.cn.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="video.cn.base.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.sohu.commonadsdk.webview.SohuAdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service
            android:name="com.sohuvideo.player.statistic.LogService"
            android:exported="false"
            android:label="CoreService" />

        <meta-data
            android:name="SOHUVIDEO_CHANNEL"
            android:value="44260"/>
        <meta-data
            android:name="SOHUVIDEO_KEY"
            android:value=""/>
    </application>

</manifest>
